@model TechJobsPersistent.Models.Employer;

<h1>Employer: @Model.Name</h1>

<!-- TODO: may need to revise names see Views in assignment -->

<div>
  @*  <p>Name: name</p>*@
    <p>Location: @Model.Location</p>
</div>
