@model TechJobsPersistent.ViewModels.AddJobViewModel

<h1>Add a Job</h1>

<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">
    <div class="form-group">
        @*<label>Name</label>
        <input class="form-control" />
        <span></span>*@
        <label asp-for="JobName">Job Name</label>
        <input asp-for="JobName" />
        <span asp-validation-for="JobName"></span>
    </div>

    <!--additions begin-->
    
    <div class="form-group">
        <label asp-for="Employers">Employer</label>
        <a asp-controller="Employer" asp-action="Add">Add Employer</a>
        <p>
            <label for="employer-select">Or choose an employer:</label>
            <!-- TODO: need to modify drop down menu to populate from employers table-->
            <select asp-for="EmployerId" asp-items="Model.Employers">
                
            </select>
            <span asp-validation-for="EmployerId"></span>
        </p>


        <span></span>
    </div>




    <!--additions end-->
    <input type="submit" value="Add Job" />
</form>

